body{
font-family: 'Bungee Spice', cursive;

}


.myheading { 
    background-color:rgb(38, 202, 232);
    color: white;
    font-family: 'Bungee Spice', cursive;
    background-color: red;
    padding: 28px;
      padding-top: 28px;
      padding-left: 28px;
    padding-left: 660px;
    padding-top: 50px;
    padding: ;
    margin: solid;
    border: solid;
    solid: black;
    margin: 30px;
    border-radius: 40px;
  
  }
  #hid{
    background-color: green;
  }
  #had{
    background-color: blueviolet;
  }